/Projects/Hackaround/bin
/Projects/Hackaround/obj
/Projects/RNInjector/Model/obj
/Projects/RNInjector/Model/bin
/Projects/RNInjector/Repository/obj
/Projects/RNInjector/Repository/bin
/Projects/RNInjector/View/bin
/Projects/RNInjector/View/obj
/Projects/RNInjector/ViewModel/obj
/Projects/RNInjector/ViewModel/bin
/Projects/RNInjector/Hackaround/obj
/Projects/RNInjector/Hackaround/bin
/Projects/Debug
/Projects/Release
/Projects/ipch
/Projects/DesuDLL/Release
/Projects/DesuDLL/Debug
/Projects/RNCLI/Release
/Projects/RNCLI/Debug
/Projects/RNInject/obj
/Projects/RNInject/bin
/Projects/PatchYard/obj
/Projects/PatchYard/bin
/Projects/Damnation/Damnation/Debug
/Projects/Damnation/Damnation/ipch
/Projects/Damnation/Damnation/Damnation/Debug
/Util/decode64/decode64/bin
/Util/decode64/decode64/obj
/Projects/Desu Injector/RNInjector/View/bin
/Projects/Desu Injector/RNInjector/View/obj
*.vs10x
*.suo
*.svn
*.sdf
*.opensdf
*.user
*.cache
*.ipch