
/Projects/Hackaround/bin
/Projects/Hackaround/obj
/Projects/RNInjector/Model/obj
/Projects/RNInjector/Model/bin
/Projects/RNInjector/Repository/obj
/Projects/RNInjector/Repository/bin
/Projects/RNInjector/View/bin
/Projects/RNInjector/View/obj
/Projects/RNInjector/ViewModel/obj
/Projects/RNInjector/ViewModel/bin
/Projects/RNInjector/Hackaround/obj
/Projects/RNInjector/Hackaround/bin